{% extends "base.html" %}

{% block title %}
    Поиск уязвимостей в модулях GitHub. Восстановление пароля.
{% endblock %}

{% block content %}
    <h2 class="mb-5">Восстановление пароля</h2>

    <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
        <div class="resume-content">
            <form method="post">
                {% if validlink %}
                    {% csrf_token %}
                    <p>Введите новый пароль и его подтверждение</p>
                    {{form.as_p}}
                    </br>
                    </br>
                    <button type="submit" class="btn btn-primary">Сохранить новый пароль</button>
                {% else %}
                    <p>Ссылка для изменения пароля не действительна. Пожалуйста, запросите изменения пароля заново</p>
                {% endif %}
            </form>
        </div>
        </div>

    </div>
{% endblock %}