{% extends "base.html" %}

{% block title %}
    Поиск уязвимостей в модулях GitHub. Контакты.
{% endblock %}

{% block content %}
    <h2 class="mb-5">Контакты</h2>

    <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
        <div class="resume-content">
            <h3 class="mb-3">{{settings.author}}</h3>
            <div class="subheading mb-0">{{settings.email}}</div>
            <div class="subheading mb-3">{{settings.phone}}</div>
            {% if user.is_superuser %}
               {% if not settings.is_path_to_token %}
                    <mark> В настройках не указан путь до токена. Поиск работать не будет! </mark>
                    </br>
                {% endif %}
                </br>
                <a href="{% url 'searching_unsafe_codes:contacts_create' %}">Редактировать</a>
            {% endif %}
        </div>



    </div>
{% endblock %}