{% extends "base.html" %}

{% block title %}
    Поиск уязвимостей в модулях GitHub. Контакты.
{% endblock %}

{% block content %}
    <h2 class="mb-5">Контакты</h2>

    <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
        <div class="resume-content">

            <div class="subheading mb-3">Изменение контактной информации</div>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                </br>
                <button type="submit" class="btn btn-primary">Сохранить</button>
            </form>
        </div>

    </div>
{% endblock %}