{% extends "base.html" %}

{% block title %}
    Поиск уязвимостей в модулях GitHub. Главная.
{% endblock %}

{% block content %}
    <h3 class="mb-0">Поиск уязвимостей в модулях</h3>
    <h2 class="text-primary">GitHub </h2>
    <div class="w-100">
        <div class="subheading mb-3">Уязвимости</div>
        <ul class="fa-ul mb-0">

            {% for item in unsafe_codes %}
            <li>
                <i class="fa-li fa fa-check"></i>
                {{item.description}}
                {% if user.is_superuser %}
                    |
                    <a href="{% url 'searching_unsafe_codes:unsafe_codes_update' pk=item.pk %}">Изменить описание</a>
                    |
                    <a href="{% url 'searching_unsafe_codes:unsafe_codes_delete' pk=item.pk %}">Удалить запись</a>

                    {% if not item.is_language %}
                        <mark> Не указан язык программирования! </mark>
                    {% endif %}

                    {% if not item.is_string_code %}
                        <mark> Не указан строковый код! </mark>
                    {% endif %}

                    {% if not item.is_description %}
                        <mark> Не задано описание! </mark>
                    {% endif %}

                    {% if not item.is_status %}
                        <mark> Не указан статус опасного кода! </mark>
                    {% endif %}

                {% endif %}
            </li>
            {% endfor %}

        </ul>

    </div>
    </br>
    </br>
    </br>
    Последний поиск {{last_searching}}
{% endblock %}
